<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>Akhmad Reiza Armando | Blog</title>
    <meta name="title" content="Akhmad Reiza Armando | Blog">
    <meta name="description" content="Akhmad Reiza Armando - Blog - I post mostly about personal and tech life. Sometimes about food maybe?">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://akhmadreiza.com/">
    <meta property="og:title" content="Akhmad Reiza Armando | Blog">
    <meta property="og:description" content="Akhmad Reiza Armando - Blog - I post mostly about personal and tech life. Sometimes about food maybe?">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://akhmadreiza.com/">
    <meta property="twitter:title" content="Akhmad Reiza Armando | Blog">
    <meta property="twitter:description" content="Akhmad Reiza Armando - Blog - I post mostly about personal and tech life. Sometimes about food maybe?">
    <meta property="twitter:image" content="">

    <link th:href="@{/css/blog-list.css}" rel="stylesheet" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- google font start -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- google font end -->
</head>
<body>
    <div class="row">
        <div class="content">
            <div class="content-left">
                <h1>
                    Hello, <span class="nick">I am</span> </br>
                    Akhmad <span class="nick">Reiza</span> Armando.
                </h1>
                <p>"I post mostly about personal and tech life. Sometimes about food maybe?"</p>
                <p>
                    <a th:href="@{/home}">About Me</a> |
                    <a th:href="@{/blog}">Blog</a>
                </p>
                <hr>
            </div>
            <div class="content-right">
                <!--content goes here-->
                <div class="content-container" style="background-color: inherit; padding: 0 10px;" th:if="${tagged != null && !tagged.isEmpty()}">
                    <p>
                        <a th:class="tagsLink" th:href="@{/blog (tags=${tagged})}" th:text="${'#' + tagged}"></a>&nbsp; - Showing <span th:text="${blogPosts.size()}"></span> <span th:text="${blogPosts.size() == 1 ? 'entry. ' : 'entries. '}"></span> <a th:text="Back" th:href="@{/blog}"></a>
                    </p>
                </div>
                <div class="content-container" th:each="blogPost : ${blogPosts}">
                    <!--title with h1 and link to the post-->
                    <a th:href="@{/{slug}(slug=${blogPost.getSlug()})}">
                        <h1 th:text="${blogPost.getTitle()}"></h1>
                    </a>

                    <!--post date with h3-->
                    <h3 th:text="${blogPost.getCreatedDate()}"></h3>

                    <span th:utext="${blogPost.getContentShort()}"></span>
                    <br>
                    <br>
                    <span th:each="tags : ${blogPost.getTags()}">
                        <a th:class="tagsLink" th:href="@{/blog (tags=${tags.getSlug()})}" th:text="${'#' + tags.getSlug()}"></a>&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>