<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title th:text="${metaTag.getTitle()}"></title>
    <meta name="title" th:content="${metaTag.getTitle()}">
    <meta name="description" th:content="${metaTag.getDescription()}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${metaTag.getUrl()}">
    <meta property="og:title" th:content="${metaTag.getTitle()}">
    <meta property="og:description" th:content="${metaTag.getDescription()}">
    <meta property="og:image" th:content="${metaTag.getImgUrl()}">


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" th:content="${metaTag.getUrl()}">
    <meta property="twitter:title" th:content="${metaTag.getTitle()}">
    <meta property="twitter:description" th:content="${metaTag.getDescription()}">
    <meta property="twitter:image" th:content="${metaTag.getImgUrl()}">

    <link th:href="@{/css/blog.css}" rel="stylesheet" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <!-- google font start -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- google font end -->

    <!-- highlight js start-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/obsidian.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!-- highlight js end-->

</head>
<body>
    <div class="row">
        <div class="content">
            <div class="content-left">
                <h1>
                    Hello, <span class="nick">I am</span> </br>
                    Akhmad <span class="nick">Reiza</span> Armando.
                </h1>
                <p>"I post mostly about personal and tech life. Sometimes about food maybe?"</p>
                <p>
                    <a th:href="@{/home}">About Me</a> |
                    <a th:href="@{/blog}">Blog</a>
                </p>
                <hr class="hr-header">
            </div>
            <div class="content-right">
                <div class="content-container">
                    <h1>
                        <span th:utext="${content.getTitle()}"></span>
                    </h1>
                    <h3>
                        <span th:utext="${content.getCreatedDate()}"></span>
                    </h3>
                    <h3>
                        <span th:each="tags : ${content.getTags()}">
                            <a th:class="tagsLink" th:href="@{/blog (tags=${tags.getSlug()})}" th:text="${'#' + tags.getSlug()}"></a>&nbsp;
                        </span>
                    </h3>
                    <figure th:if="${content.getMedia() != null}" class="wp-block-image size-full">
                        <img th:src="${content.getMedia().getMediaUrl()}">
                        <figcaption th:utext="${content.getMedia().getMediaCaption()}"></figcaption>
                    </figure>
                    <span th:utext="${content.getContent()}"></span>
                </div>
            </div>
            <div class="footer-copyright">
                <hr class="hr-footer">
                <p class="p-footer">&copy; 2021 Akhmad Reiza Armando</p>
            </div>
        </div>
    </div>
</body>
</html>